<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a routerLink="/login" style="padding-right: 10px;">Logout </a>
       <span class="example-spacer"></span>
        <a routerLink="/login" style="padding-right: 10px;">Login </a>
        <a routerLink="sign-up"style="padding-right: 10px;"> Register  </a>
        <a routerLink="/admin"style="padding-right: 10px;">  Admin</a>
     </mat-toolbar-row>
    </mat-toolbar>
   <!-- <router-outlet> </router-outlet> -->
      -->

      <h1>
         <span style="color: red;font-size:larger">
         I am Parent Component behaving as a parent for the @output and Event emitter :)
         </span>
         
      </h1>
         <div style="width: 100%;background-color: cornflowerblue">
         <h2 style="color: white">
         Welcome 
         </h2>
         </div>
         <app-login (login)="onLogin($event)"></app-login>
         <router-outlet> </router-outlet> -->