 <mat-toolbar color="primary">
    <mat-toolbar-row>

       <span class="example-spacer"></span>
        <a *ngIf="!_authservice.loggedin()" routerLink="/login" style="padding-right: 10px;">Login </a>
        <a *ngIf="!_authservice.loggedin()" routerLink="sign-up"style="padding-right: 10px;"> Register  </a>
        <a *ngIf="_authservice.loggedin()" (click)="_authservice.logoutuser()"routerLink="/admin"style="padding-right: 10px;">  Logout</a>
     </mat-toolbar-row>
    </mat-toolbar>
 <!-- <router-outlet> </router-outlet> -->


