
<!-- <table style="height: 144px; width: 818px; border-color: grey;" border="1pz">
  <tbody>
      <tr style="height: 52px; background-color: darkgray;" class="">
        <td style="width: 62px; height: 52px;">&nbsp;</td>
        <td style="width: 154px; height: 52px;">Lorem ipsum</td>
        <td style="width: 149px; height: 52px;">Lorem ipsum</td>
        <td style="width: 125px; height: 52px;">lorem app-root</td>
        <td style="width: 140px; height: 52px;">Lorem ipsum</td>
        <td style="width: 148px; height: 52px;">&Lorem ipsum;</td>
      </tr>
      <tr style="height: 171px;">
        <td style="width: 62px;  height: 171px;">Lorem ipsum</td>
        <td style="width: 154px; height: 171px;" class="pro-img"><img src="sdcasffe" alt="dddddd"></td>
        <td style="width: 149px; height: 171px;">Lorem ipsum</td>
        <td style="width: 125px; height: 171px;">Lorem ipsum</td>
        <td style="width: 140px; height: 171px;">Lorem ipsum</td>
        <td style="width: 148px; height: 171px;">Lorem ipsum</td>
      </tr>
      <tr style="height: 75px;">
        <td style="width: 216px; height: 75px;" colspan="2"><br /><br /></td>
        <td style="width: 562px; height: 75px;" colspan="4"><button></button><button></button></td>
      </tr>
  </tbody>
</table> -->
  
  <ng-container *ngFor="let item of cartproduct_detais; let i=index">
   <h1> Product No:{{i+1}}</h1>
   <h2>Name:{{products[i].Pro_Name}}</h2>
    <ng-container *ngFor="let item1 of item " >
     <ng-container *ngIf="item1.F_ID == 1" >
        <h3>Size:{{item1.Feature_Value}}</h3>
      </ng-container>
      <ng-container *ngIf="item1.F_ID == 2" count++>
        <h3>Color:{{item1.Feature_Value }}</h3>
      </ng-container>
      <ng-container *ngIf="item1.F_ID == 3" count++>
        <h3>Fabric:{{item1.Feature_Value}}</h3>
      </ng-container>
      <ng-container *ngIf="item1.F_ID == 5" count++>
        <h3>Waste:{{item1.Feature_Value}}</h3>
      </ng-container>
    </ng-container>
  </ng-container>
  

  <!-- https://www.triads.co.uk/images/products/medium/1553179923-85769400.jpg -->

