
<!-- <table style="height: 144px; width: 818px; border-color: grey;" border="1pz">
  <tbody>
      <tr style="height: 52px; background-color: darkgray;" class="">
        <td style="width: 62px; height: 52px;">&nbsp;</td>
        <td style="width: 154px; height: 52px;">Lorem ipsum</td>
        <td style="width: 149px; height: 52px;">Lorem ipsum</td>
        <td style="width: 125px; height: 52px;">lorem app-root</td>
        <td style="width: 140px; height: 52px;">Lorem ipsum</td>
        <td style="width: 148px; height: 52px;">&Lorem ipsum;</td>
      </tr>
      <tr style="height: 171px;">
        <td style="width: 62px;  height: 171px;">Lorem ipsum</td>
        <td style="width: 154px; height: 171px;" class="pro-img"><img src="sdcasffe" alt="dddddd"></td>
        <td style="width: 149px; height: 171px;">Lorem ipsum</td>
        <td style="width: 125px; height: 171px;">Lorem ipsum</td>
        <td style="width: 140px; height: 171px;">Lorem ipsum</td>
        <td style="width: 148px; height: 171px;">Lorem ipsum</td>
      </tr>
      <tr style="height: 75px;">
        <td style="width: 216px; height: 75px;" colspan="2"><br /><br /></td>
        <td style="width: 562px; height: 75px;" colspan="4"><button></button><button></button></td>
      </tr>
  </tbody>
</table> -->

  <div *ngFor="let item of products">
  <h1>{{item.Pd_ID}}</h1>
  <!-- <h1>abcd</h1> -->
  </div>


  <!-- https://www.triads.co.uk/images/products/medium/1553179923-85769400.jpg -->

