<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>
<div class="container abc" style="height: 100vh;">
        <div class="row ">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        	<div class="panel panel-default centered-form">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Sign UP  </h3>
			 			</div>
			 			<div class="panel-body" style="height: auto;">
			    		<form role="form">
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-12">
			    					<div class="form-group">
			                <input type="text" name="name" id="name" class="form-control input-sm" placeholder="User Name" style="margin-top: 30px;">
			    					</div>
			    				</div>
			    				 
			    			</div>

			    			<div  class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-12">
			    					<div class="form-group">
			    						<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email">
			    					</div>
			    				</div>
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-12">
			    					<div class="form-group">
			    						<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
			    					</div>
			    				</div>
			    				 
			    			</div>
			    			
			    			<input type="submit" value="Register" class="btn btn-info btn-block" style="margin-top: 20px;"> 
			    		
			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>
</body>